  <%= form_with model: @list do |f| %>
    <div class="form-group d-flex flex-column align-items-center">
      <%= f.label "Navn på indkøbsliste" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group d-flex justify-content-center">
      <%= f.submit "Tilføj liste", class: "btn btn-primary" %>
      <%= link_to "Fortyrd", lists_path, class: "btn btn-danger"%>
    </div>
<% end %>